/* mobile  */
@media screen and (max-width:46.5em) {
    nav{
        flex-direction: column;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap:2em
        }
        .search-container-active, .search-container, .input-group{
            flex-direction:column;
            width: 100%;
            height:fit-content;

        }
        .location-search, .Guest-search{
            border: none;
            width:100%;
            padding:20px;
            
        }
        .location-search{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            
        }
        .location-list, .guest-list{
            top:20em;
        }
}
/* tablets */
@media screen and  (min-width:46.5em) and (max-width:62em) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap:2em
        }
}