/* mobile  */
@media screen and (max-width:46.5em) {

    /* mobile-first approach */
    .main-component{
        margin-top:8em;
    }
    nav {
        flex-direction: column;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 2em
    }

    .header-container {
        display: flex;
        flex-direction: column;
    }

    .search-menu {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 80%;
    }

    .dropdown {
        top: 12em;
        width: 100%;
        left: 0px;
    }

    ul {
        padding-left: 4em;
    }

}

/* tablets */
@media screen and (min-width:46.5em) and (max-width:62em) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em
    }

    .sub-menu-wrapper {
        grid-template-columns: repeat(3, auto);
        gap: 0;
    }

    .guest-main-container {
        grid-column: 2;

    }
}