.header-component {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 4em;
    ;
}

.main-component {
    margin-top: 12em;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 4em;
    place-content: flex-end;
}


.input-group {
    /* width: 297px; */
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    place-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

.input-group input {
    height: 45px;
    background: #fff;
    border-top: none;
    border-bottom: none;
    outline: none;
    color: #000;
    padding: 3px;
}

.add_guest_wrapper {
    color: #BDBDBD;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.search-container-active {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    align-items: center;
      padding:0.5em 2em;
}

.search-container {
    display: flex;
    width:25%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    justify-content:space-around;
    align-items: center;
    padding:0em 2em;
   
    
}


.Guest-search {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
     border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    /* height:60px; */
    width:50%;
    
}
.location-search{
    width:50%
}

/* 
.location-list {
    padding-bottom: 5em;
    position: absolute;
    top: 8em;
    background-color: #fff;
    width: 100%;
    margin-left: -100px;

} */

.location-display-active {
    /* width: 50%; */

}

.guest-list {
    position: absolute;
    top: 8em;

}
/* 
.location-list-item {
    margin-left: 6em;
} */

.hidden {
    display: none;
}

.sub-title {
    /* width: 114px; */
    height: 36px;
    left: 537px;
    top: 196px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #BDBDBD;

}

.counter {
    display: flex;
    gap: 10px
}

li {
    padding: 10px 0px;
}

button {
    width: 23px;
    height: 23px;
    left: 537px;
    top: 244px;

    border: 1px solid #828282;
    border-radius: 4px;
    background: transparent;
}

.guest-title {
    padding-top: 10px;
}

.search-button {
    padding: 0px 10px;
    align-self:center;
}

.button-container {
    width: 126px;
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    align-items: center;
}

.button-container svg>path {
    fill: #F2F2F2
}

.location-list-item svg>path {
    fill: #4F4F4F;

}

.location-list-item svg {
    padding: 0px 5px;
}

button:hover {
    cursor: pointer;
}

.button-container {
    cursor: pointer;
}

.card-img {
    cursor: pointer;
}

.brand-container {
    display: flex;
    position: absolute;
    /* top: 3em; */
    left: 5em;
}
.sub-menu-wrapper{
    display:flex;
    justify-content: space-evenly;
    position:absolute;
    gap:3em;   
    padding-bottom: 5em;
    top: 8em;
    background-color: #fff;
    width: 100%;
    left:0px;
}